/* Seteo de estilo */


* {
    box-sizing: border-box;  
    margin: unset;
    padding: unset;
    outline: unset;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}



/* Navbar */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C4B7B2;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;

    
    
}
header nav ul {
    display: flex;
    gap: 100px;
}

header nav ul li a{
    color: black;
    font-weight: 500;
    }




/* ------jumbotron------ */

.heading-background{
    
    height: 750px;
    padding: 50px 25px;
    background-image: url(/assets/Background.jpg);
    background-size: cover;
    background-position: center;
}
.jumbotron h1 {

    font-size: 3.5rem;
    font-weight: 700;
}

header nav button {
    background-color: #730000;
    padding: 10px;
    border-radius: 100px;
    border: none;
    color: white;
    font-weight: 500;
    
}

/* --------- cards --------- */

.section__card{
    display: flex;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    flex-basis: 600px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-basis: 300px;
    
}

.card__body__button{
    background-color: #730000;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 400;
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.section__prom{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    flex-basis: 300px;
}

.prom__body__button{
    background-color: #730000;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 400;
    padding-left: 380px;
    padding-right: 380px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.prom__body{
    padding: 1rem;
}

/* ----------Footer---------- */

.footer{
    background-color: #C4B7B2;
}